SpelSylt/Temp/*
SpelSylt/Library/*
SpelSylt/Build/*
#Un-ignore these specific files
!SpelSylt/Library/*.asset
!SpelSylt/Library/AssetImportState
!SpelSylt/Library/AssetVersioning.db
!SpelSylt/Library/BuildPlayer.prefs
!SpelSylt/Library/ScriptMapper
!SpelSylt/Library/assetservercachev3
!SpelSylt/Library/expandedItems
!SpelSylt/Library/guidmapper
!SpelSylt/Library/unity default resources
!SpelSylt/Library/unity editor resources
!SpelSylt/Library/metadata/

