# =============== #
# Unity generated #
# =============== #

SpelSylt/Temp/*
SpelSylt/Library/*
SpelSylt/Build/*
#Un-ignore these specific files
!SpelSylt/Library/*.asset
!SpelSylt/Library/AssetImportState
!SpelSylt/Library/AssetVersioning.db
!SpelSylt/Library/BuildPlayer.prefs
!SpelSylt/Library/ScriptMapper
!SpelSylt/Library/assetservercachev3
!SpelSylt/Library/expandedItems
!SpelSylt/Library/guidmapper
!SpelSylt/Library/unity default resources
!SpelSylt/Library/unity editor resources
!SpelSylt/Library/metadata/


# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
obj/
*.svd
*.userprefs
/*.csproj
*.pidb
*.suo
/*.sln
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

